---
---

.debug-header {
	background-color: lightblue;
}
.debug-content {
	background-color: orange;
}
.debug-footer {
	background-color: yellow;
}

body {
	font: futura-pt, FuturaStd, Helvetica, Arial, sans-serif;
	padding: 0px;
	background-color: #d1d1d1;
}

a {
	color: black;
}

.header {
	padding-top: 30px;
    line-height: 100px;
    height: 100px;
}

.center {
  text-align: center;
}

.capitalize {
  text-transform: uppercase;
}

.caption {
    font-weight: normal;
    font-size: 1em;
    font-style: oblique;
}

.content {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #e6e6e6;
}

.tiles {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
}

.tiles ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap; /* assumes you only want one row */
}

.tile-container {
  display: inline;
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 100; 
  white-space: nowrap;
}

.center-all {
  background-color: white;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  width: 90%;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.button-text {
	color: black;
}

.button-text:hover {
  color: black;
  text-decoration: none;
}

.footer {
    line-height: 50px;
    height: 50px;
}

div.dataTables_filter, div.dataTables_length {
  padding: 15px;
}

table th {
    vertical-align: middle;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
    text-align: center;
}

.color-circle {
    margin: 3px;
    border: 1px solid #a7a7a7;
    border-radius: 100%;
    display: inline-block;
    height: 9px;
    margin-top: 3px;
    vertical-align: middle;
    width: 9px;
}

.discount {
    color: red;
}

.pointer {
    cursor: pointer;
}

ul.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    cursor: pointer;

    li.ui-menu-item{
        padding:0 .5em;
        line-height:2em;
        font-size:.8em;
        &.ui-state-focus{
            background: #F7F7F7;
        }
    }
}

#column4 {
  width: 50px;
}

.dataTables_filter {
  display: none;
}

/* Responsive table */

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

@media (min-width: 736px){
  .moment:first-child {
    margin-right: 16px;
  }

  .moment {
    width: calc(((100% - 220px)/12) * 6 + 100px - 6px);
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  }  
}

.productDetail {
  padding: 0px 10px 0px 0px; 
  float: left; 
  font-weight: bold;
}