<!DOCTYPE html>
<html lang="es_ES">

  <head>
    {% if site.analytics_es %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-7K8GZB7G3T"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7K8GZB7G3T');
      </script>
    {% endif %}    
    <meta charset='utf-8'>
    <meta name="description" content="Zapatos de marca para mujer con descuento">
    <meta name="keywords" content="Zapatos, calzado, botas, mujer, descuento, rebajas, marca, firma, diseño, lujo, outlet">
    <meta name="author" content="Cameyoox">
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.cameyoox.com/assets/images/cameyoox.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

{% if page.graph == true %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>   
{% endif %}

{% if page.datatable == true %}
    
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function() {
          // First, get the search parameter
          var searchHash = location.hash.substr(1),
          searchString = searchHash.substr(searchHash.indexOf('buscar='))
                      .split('&')[0]
                      .split('=')[1];

          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          
          var table = $('table.display').DataTable({
              ajax: '/assets/data/data-es.txt',
              deferRender: true,
              scrollX: false,
              scrollY: false,
              paging: true,
              stateSave: true,
              searching: true,
              drawCallback: function() {
                $("img.lazy").lazyload();
              },
              "createdRow": function ( row, data, index ) {
                $(row).addClass("pointer");
              },
              language: {
              url: '/assets/i18n/spanish.json'
              },
              columnDefs: [
                {
                  targets:  [0],
                  visible: false,
                  orderable: false,
                  searchable: false
                },
                {
                    targets: [1],
                    orderable: false,
                    searchable: false,
                    render: function(data, type, full, meta) {
                      if (data != "") {
                        var prefix = data.substring(0,2)
                        return "<img class='lazy' data-original='https://www.yoox.com/images/items/" + prefix + "/" + data + "_14_f.jpg?width=90&height=115&impolicy=crop&gravity=Center' width='90' height='115'/>"  
                      }
                      return ""
                    },
                    createdCell: function (td, cellData, rowData, row, col) {
                      $(td).attr('style', 'text-align: left;');
                    }
                }, 
                {
                 targets: [2], 
                 orderable: false,
                 searchable: true,
                 createdCell: function (td, cellData, rowData, row, col) {
                      $(td).attr('data-label', 'Marca');
                    }
                },
                {
                 targets: [3], 
                 orderable: false,
                 searchable: true,
                 createdCell: function (td, cellData, rowData, row, col) {
                      $(td).attr('data-label', 'Categoría');
                    }
                },
                {
                 targets: [4], 
                 orderable: false,
                 searchable: true,
                 createdCell: function (td, cellData, rowData, row, col) {
                      $(td).attr('data-label', 'Talla');
                    }
                },
                {
                  targets: [5],
                  orderable: false,
                  render: function(data, type, full, meta) {
                      if (data != "") {
                        colourContent = "<span class='text-center'>"

                        colours = data.split(",")
                        colours = colours.map(parseColour)
                        colourContent = colourContent.concat(colours.join(""))
                        colourContent = colourContent.concat("</span>")

                        return colourContent
                      }
                      return "<span class='text-center'>"+parseColour('rgba(0, 0, 0, 0)')+"</span>"
                    },
                  createdCell: function (td, cellData, rowData, row, col) {
                      $(td).attr('data-label', 'Colores');
                    }  
                },
                {
                  targets: [6],
                  searchable: false,
                  render: $.fn.dataTable.render.number( '.', ',', 2, '€' ),
                  createdCell: function (td, cellData, rowData, row, col) {
                      $(td).attr('data-label', 'Precio actual');
                    }
                },
                {
                  targets: [7],
                  searchable: false,
                  render: $.fn.dataTable.render.number( '.', ',', 2, '€' ),
                  createdCell: function (td, cellData, rowData, row, col) {
                      $(td).attr('data-label', 'Precio max.');
                    }
                },
                {
                  targets: [8],
                  searchable: false,
                  render: $.fn.dataTable.render.number( '.', ',', 2, '€' ),
                  createdCell: function (td, cellData, rowData, row, col) {
                      $(td).attr('data-label', 'Precio min.');
                    }
                },
                {
                  targets: [9],
                  searchable: false,
                  render: $.fn.dataTable.render.number( '.', ',', 2, '€' ),
                  createdCell: function (td, cellData, rowData, row, col) {
                      $(td).attr('data-label', 'Descuento actual');
                    }
                }
              ],
              initComplete: function () {
                
                var columns_process = [2,3,4]
                
                this.api().columns().every( function () {

                    var column = this;
                    
                    if (columns_process.includes(column.index())) { 
                      var columnId = "column" + column.index()

                      if(column.index() != 4) {
                        var availableTags = []

                        column.data().unique().sort().each( function ( d, j ) {
                            availableTags.push( d )
                        } );

                        availableTags.sort();
                      } else {
                        availableTags = ["34", "34.5","35","35.5","36","36.5","37","37.5","38","38.5", "39", "39.5","40","40.5","41","41.5","42","42.5","43", "43.5", "44"];
                      }

                      $( "#"+ columnId ).autocomplete({
                            source: availableTags,
                            select: function(e, ui) {
                                
                                if ( column.search() !== ui.item.value ) {
                                  searchTerm = ui.item.value;
                                    
                                  if(column.index() == 4) {
                                      searchTerm = ui.item.value + "(?![^ ])";  
                                  }
                                  
                                  column
                                    .search( searchTerm , true, false)
                                    .draw();
                              }
                          }
                      });
                      
                      $( "#"+ columnId ).on('search', function () {
                        if ( column.search() !== this.value ) {
                          column
                              .search( this.value )
                              .draw();
                        }
                      }); 
                    }
                  }); 

                  document.getElementById("loader").remove(); 
                
                }
              });

              if(searchHash && searchString) {
                table.search(decodeURI(searchString), 3).draw();
                title_text = decodeURIComponent(searchString).charAt(0).toUpperCase() + decodeURIComponent(searchString).slice(1);
                document.title = title_text + " | Cameyoox";
              } else {
                table.search("", 3).draw();
              }    
          
              $('#example tbody').on('click', 'tr', function () {
                var data = table.row( this ).data();
                window.open('product.html?product=' + data[0] 
                                      + '&brand=' + data[2] 
                                      + '&category=' + data[3]
                                      + '&price=' + data[6]
                                      + '&maxprice=' + data[7]
                                      + '&minprice=' + data[8]
                                      ,'_blank');
              });

              function parseColour(value, index, array) {
                  return "<span class='color-circle' style='background-color:  " + value + "'></span>"
              }
       });
    </script>
{% endif %}

{% seo %}

{% include analytics.html %}
  </head>

  <body>
    <!-- HEADER -->
    <div class="header center" onclick="location.href='https://www.cameyoox.com';">
          <h1 id="project_title" class="capitalize">{{ site.title }}</h1>
          <h2 id="project_tagline" class="caption">{{ page.title }}</h2>
    </div>

    <!-- MAIN CONTENT -->
    <div id="content-container" class="content">
      {{ content }}
    </div>

    <!-- FOOTER  -->
    <div class="center footer">
      <p class="copyright">© 2021 {{ site.title }}</p>
      <ul>
          <li><a href="/es/cookies.html">Política de cookies</a></li>
          <li><a href="/es/acerca-de.html">Sobre nosotros</a></li>
          <li><a href="/es/contacto.html">Contacto</a></li>
        </ul>
    </div>
  </body>
</html>